html,body{
    margin: 0;
    padding: 0px;
    scroll-behavior: smooth;
}

/* css for the navbar */

.navbar{
    margin-top: 9px;
    position: relative;
}

.navbar-nav{
    margin-left: 59%;
    margin-top: 3px;
}

.nav-link{
    margin-left: 25px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: .2px;
    font-family: 'poppins',sans-serif;
}

.navbar-brand{
    font-family: 'poppins',sans-serif;
    margin-left: 20px;
    font-weight: 600;
}

/* Particle effect's css */

#particles-js{
    background-size: cover;
    height: 680px;
}

canvas.particles-js-canvas-el{
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

/* Main profile photo */

.imgdp{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  margin-top: 90px;
}

/* My name */

.name-part{
    text-align: center;
    color:rgb(0, 0, 0);
    margin-top: 5px;
    font-size: 38px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

/*icon scroll arrow*/

.icon-scroll {
    position: absolute;
    top: 87%;
    left: 50%;
    width: 1em;
    height: 1em;
    transform: translateX(-50%) scale(2);
    z-index: 1;
}

.icon-arrows::after,
.icon-arrows::before {
    content: '';
}
.icon-arrows span,
.icon-arrows::after,
.icon-arrows::before {
    display: block;
    width: 0.315em;
    height: 0.315em;
    border-right: 1px solid #368af1;
    border-bottom: 1px solid rgba(109, 197, 251, 0.8);
    margin: 0 0 0.125em 0.315em;
    transform: rotate(45deg);
}
.icon-arrows::before {
    margin-top: 0.315em;
}

.icon-scroll .cover {
    height: 1.1em;
    width: .8em;
    border: 1px solid #166ffd;
    border-radius: 2em;
    position: relative;
    top: 2px;
    left: 1px;
}
.icon-scroll .dot {
    position: relative;
    display: block;
    height: 0.22em;
    width: 0.22em;
    margin: 0.1875em auto 0;
    background: #4793ff;
    animation: mouse-wheel 1.2s ease infinite;
    border-radius: 50%;
}

/*socialmedi icons*/
  
* {
	margin: 0;
	padding: 0;
}

.icons{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.icons ul li {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: rgb(255, 255, 255) ;
    margin: 12px;
    box-shadow: 1px 1px 9px #999,
    -4px -4px 10px white;
    text-align: center;
    line-height: 38px;
    font-size: 35px;
    color: rgb(243, 220, 220);
    border-radius: 25%;
    transition: .5s;
}

.icons ul li:hover {
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}

.ic1{
    color: #0e76a8;
}
.ic2{
    color: #053eff;
}
.ic3{
    color: rgb(35, 35, 35);
}
.ic4{
    color: #00acee;
}

/*about section*/

.about_cover{
    
    padding-top: 7.5rem;
    margin-top: -7rem;
}

.about{
    background-image: linear-gradient(#f8f8ff,rgb(239, 244, 255));
    border-radius: 25px;
    box-shadow: 1px 1px 8px  rgb(202, 202, 202);
    margin: 28px;
    position: relative;
    top: -120px;
}

.content h4 {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    margin: 1em;
    font-weight: 600;
     color: rgb(0, 0, 0);
     margin-top: 50px;
     
}
.content p {
    font-family: 'Poppins', sans-serif;
    font-weight:lighter;
    color: rgb(32, 32, 32);
    margin: 1.5em;
    line-height: 28px;
    letter-spacing: .3px;
    font-size: 15px;
}

.content a {
    margin-left:20px;
    padding: 11px 35px;
    color: #fff;
    background: rgb(46, 162, 245);
    border: 2px solid rgb(52, 158, 251);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 35px;
}

.content a:hover {
    color: rgb(44, 107, 255);
    background: none;
    text-decoration:none;
    border: 2px solid rgb(40, 111, 255);
}

h3.heading {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 800;
    letter-spacing: 1.5px;
	position: relative;
}

.content {
    padding-left: 5rem;
    padding-top: 2rem;
    margin-bottom: -0.5rem;
}

.abimg{
    width: 600px;
    height: 400px;
    position: relative;
    bottom: 2rem;
    right: 10rem;
}

/*-- project section --*/

.gif{
    width: 300px;
    margin-left: 60rem;
}

.dots{
    width: 1500px;
    height: 1000px;
    position: relative;
    top: -17rem;
    opacity: 30%;
}

.project{
    position: relative;
    top: -110px;
    background-color: rgb(255, 255, 255);
}

.p-heading{
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-top: -71rem;
    margin-bottom: 10rem;
    margin-left: 13rem;
}

.p-subheading{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(rgb(116, 203, 240), rgb(83, 31, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    margin-left: 13rem;
    margin-bottom:-1rem; 
    margin-top: -2.5rem;
}

/*cards*/

.card{
    box-shadow: 1px 1px 6px rgb(209, 209, 209);
    transition:.3s;
    margin-top: 2.5rem;
}

.card:hover{
    transform: scale(1.05);
    
}

.card-title, .card-text, .btn{
    font-family: 'Poppins', sans-serif;
}

.card-text{
    font-size: 13.5px;
}
.card_main{
    margin-top: 55px;
}

.p-more{
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
    position: relative;
}

.p-more :hover{
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

/*experience*/

.experience_cover{
    position: relative;
     height: 45.7rem;
    padding-top: 7.5rem;
    margin-top: -9rem;
}
    
.experience{
    background-image : linear-gradient( rgb(234, 248, 251),rgb(241, 251, 255));
    position: relative;
    top: -7.5rem;
    border-radius: 25px;
    margin:20px;
}

.exp_heading{
    font-family: 'Poppins', sans-serif;
    font-weight:700;
    font-size: 41px;
    
}

.exp_content{
    margin-top: 5.5rem;
    padding-left: 2rem;
    padding-bottom: 4rem;
    
}

.img11 {
    width: 70px;
    margin-top: 11px;
    margin-bottom: -11px;
}

.img12{
    width: 90px;
    margin-top: 8px;
    margin-bottom: -8px;
}

.img13{
    width:70px;
    margin-top:7px ;
    margin-bottom: -15px;
}

.img14{
    width:100px;
    margin-top: 19px;
    margin-bottom: -4px;
}

.txt{
    font-family: 'Poppins', sans-serif;
    font-size: 16.5px;
    font-weight: bold;
    margin-top: 3rem;
}

/* See more button and links */

.btne{
    font-size: 13px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    height: 28px;
    width: 80px;
    border: none;
    border-radius: 15px;
    background-image: linear-gradient(rgb(41, 137, 255),rgb(0, 132, 198));
}

.linktext{
    padding: 7px;
    color:white;
    position: relative;
}

.linktext:hover{
    text-decoration-line: none;
    transition: .5s;
}

.btne:hover{
    background-image:linear-gradient( rgb(240, 240, 240),rgb(255, 255, 255));
    box-shadow: 1px 1px 2.5px rgb(159, 159, 159);
}

/* Blog section */

.blogs_cover{
    position: relative;
    height: 24rem;
    padding-top: 7.5rem;
    margin-top: -9rem;
}

.blogs{
    margin: 20px;
    margin-top: -6.5rem;
    background-image:linear-gradient( rgb(177, 237, 253),rgb(182, 255, 182));
    border: none;
    border-radius: 20px; 
}

.blog_heading{
    padding-top: 2.5rem;
    font-family: 'poppins',sans-serif;
    font-weight: bold;
    font-size: 40px;   
}

.blog_subheading{
    
    padding-top: 2rem;
    font-family: 'poppins',sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.blog_content{
    margin-top: -1rem;
    padding-right: 2.5rem;
}

.stories{
    font-size:14px;
    font-family:'poppins',sans-serif; 
    font-weight: 600;
    margin-left: 2.5rem;
    margin-top: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top:0.2rem ;
    padding-bottom: 0.2rem;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgb(0, 0, 0);  
}

.stories:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
}

.blog_more {
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-family:'poppins',sans-serif; 
    font-size: 14px;
}

.more_story{
    color:rgb(15, 87, 255)
}

.more_story:hover{
    text-decoration: none;
    background-color: black;
    padding-left:  15px;
    padding-right:  15px;
    padding-top:  4px;
    padding-bottom:  4px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

/*footer*/

.line1{
    font-family: 'poppins',sans-serif;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.line2{
    font-family: 'poppins',sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: rgb(0, 0, 0);
}

.fas{
    color: red;
}

a.move-up span {
    color: #fff;
    width: 34px;
    height: 34px;
    border: transparent;
    line-height: 1.9em;
    background: #4b87ff;
    border-radius: 4px;
}

/*more_projects page (not setup)*/

.error_page{
    margin-top: 6rem;
}

.error_logo{
    width: 15rem;
}

.error_title{
    font-size: 50px;
    font-weight: bold;
    font-family: 'poppins',sans-serif;
    color: rgb(78, 122, 255);
}

.error_body{
    font-size: 20px;
    font-weight: 500;
    font-family: 'poppins',sans-serif;
    padding-top: 0.8rem;
    padding-bottom: 1.5rem;
}

.return{
    background-image: linear-gradient(rgb(31, 31, 255),rgb(82, 160, 255));
    border: none;
    border-radius: 25px;
    font-family: 'poppins',sans-serif;
    font-size: 14px;
    color: white;
}


/*Responsive part*/

@media(max-width:1920px) {
    .imgdp{
        width: 450px;
        height: 260px;
    }
}

@media(max-width:1440px) {
    
.main-content{
    height: 54rem;
}
.name-part{
    margin-top: 1rem;
    font-size: 44px ;
}
.navbar-nav{
    margin-left: 35%;
    margin-top: 2px;
}

.imgdp{
    width: 38rem;
    height: 21.7rem;
    margin-top: 23rem;
}

.icon-scroll{
    font-size: 19px;
    position: relative;
    top: 15rem;
}

.about_cover{
    padding-top: 8rem;
    margin-top: 31.5rem;
}

.about{
    background-image: linear-gradient(#f8f8ff,rgb(239, 244, 255));
    border-radius: 25px;
    box-shadow: 1px 1px 8px  rgb(202, 202, 202);
    margin: 28px;
}

.content h4 {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
    margin: 1em;
    font-weight: 600;
     color: rgb(0, 0, 0);
     margin-top: 50px;
     
}
.content p {
    font-family: 'Poppins', sans-serif;
    font-weight:lighter;
    color: rgb(0, 0, 0);
    margin: 1.5em;
    line-height: 28px;
    letter-spacing: .3px;
    font-size: 14.5px;
    margin-right: -15rem;
}

.content a {
    margin-left:20px;
    padding: 11px 35px;
    color: #fff;
    background: rgb(46, 162, 245);
    border: 2px solid rgb(52, 158, 251);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    border-radius: 35px;
}

.content a:hover {
    color: rgb(44, 107, 255);
    background: none;
    text-decoration:none;
    border: 2px solid rgb(40, 111, 255);
}

h3.heading {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 800;
    letter-spacing: 1.5px;
	position: relative;
}

.content {
    padding-left: 5rem;
    padding-top: 2rem;
    margin-bottom: -17.5rem;
    position: relative;
}

.abimg{
    width: 490px;
    height: 280px;
    margin-left: -110px;
    margin-top: 20rem;
    bottom: 18rem;
    left: -1.2rem;
    padding-left: 4.5rem;
}


/*-- project section --*/

.gif{
    width: 300px;
    margin-left: 40rem;
}

.dots{
    width: 1500px;
    height: 1000px;
    position: relative;
    top: -17rem;
    opacity: 30%;
}

.p-heading{
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-top: -71rem;
    margin-bottom: 10rem;
    margin-left: 5rem;
}

.p-subheading{
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    background: -webkit-linear-gradient(rgb(116, 203, 240), rgb(83, 31, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    margin-left: 5rem;
    margin-bottom:-1rem; 
    margin-top: -2.5rem;
}

.p-more{
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding-top: 25px;
    position: relative;
}

.experience_cover{
    position: relative;
    height: 45.7rem;
    padding-top: 7.5rem;
    margin-top: -9rem;
}

.blogs_cover{
    position: relative;
    height: 27rem;
    padding-top: 8rem;
    margin-top: -4.5rem;
}

.blogs{
    margin: 20px;
    margin-top: -6.5rem;
    background-image:linear-gradient( rgb(177, 237, 253),rgb(182, 255, 182));
    border: none;
    border-radius: 20px; 
 }
}


@media(max-width:990px) {

    .imgdp{
      width: 460px;
      height: 260px;  
      margin-left: auto;
      margin-right: auto;
      margin-top: 230px;
    }
    
    .navbar-nav{
        margin-left: -1rem;
        margin-top: 1rem;
        text-align: center;
    }

    .icon-scroll{
        font-size: 17px;
        margin-top: -6.5rem;
    }
    
    .about_cover{
        padding-top: 7.5rem;
        margin-top: 9.5rem;
        padding-bottom: -10rem;
    }
    
    .about{
        position: relative;
        top: -120px;
    }

    .content h4 {
        font-size: 22px;
        font-family: 'Poppins', sans-serif;
        line-height: 30px;
        margin: 1em;
        font-weight: 600;
        color: rgb(0, 0, 0);
        margin-top: 16rem;
        margin-left: 5.2rem;
         
    }
    .content p {
        font-family: 'Poppins', sans-serif;
        font-weight:lighter;
        color: rgb(32, 32, 32);
        margin: 1.5em;
        line-height: 28px;
        letter-spacing: .3px;
        font-size: 15px;
        text-align: center;
        margin-left: -3.2rem;
    }
    
    .content a {
        margin-left:160px;
        font-size: 15px;
    }
    
    .content {
        padding-left: 5rem;
        padding-top: 2rem;
        margin-bottom: -42.5rem;
    }
    
    .abimg{
        width: 550px;
        height: 340px;
        position: relative;
        bottom: 56rem;
        left: 3.5rem;
    }
    
    .gif{
        width: 300px;
        margin-left: 28rem;
    }
    
    .project{
        position: relative;
        top: -110px;
        background-color: rgb(255, 255, 255);
    }
    
    .p-heading{
        font-size: 45px;
        font-family: 'Poppins', sans-serif;
        font-weight: bolder;
        margin-top: -71rem;
        margin-bottom: 15rem;
        margin-left: 3rem;
    }
    
    .p-subheading{
        margin-left: 3rem;
        margin-top: -1rem;
    }
    
    .experience_cover{
        position: relative;
        padding-top: 7.5rem;
        margin-top: -9rem;
    }
        
    .experience{
        background-image : linear-gradient( rgb(234, 248, 251),rgb(241, 251, 255));
        position: relative;
        top: -7.5rem;
        border-radius: 25px;
        margin:20px;
    }

    .card-text{
        font-size: 13px;
    }

    .card-title{
        font-size: 16px;
        font-weight: 600;
    }
    
    .exp_content{
        margin-top: 5.5rem;
        padding-left: 4rem;
        padding-bottom: 1rem;
    }
    
    .blogs_cover{
        position: relative;
        padding-top: 7.5rem;
        margin-top: 5.2rem;
    }
    
    .blogs{
        margin: 20px;
        margin-top: -6.5rem;
        background-image:linear-gradient( rgb(177, 237, 253),rgb(182, 255, 182));
        border: none;
        border-radius: 20px; 
    }

    .line1{
        font-size: 15px;
        margin-top: -2rem;
    }
}

@media(max-width:760px){

    .imgdp {
        width: 410px;
        height:auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    margin-top: 100px;
    }

    .navbar-nav{
        margin-left: -1rem;
        margin-top: 1rem;
        text-align: center;
    }

    .name-part{
        margin-top: 10px;
        font-size: 37px;
        
    }
    .icon-scroll{
        font-size: 16px;
        top: 8.8rem
    }

    .about_cover{
        padding-top: 7.5rem;
        margin-top: -9rem;
    }

    .about{
        margin: 21.5px;
    }
    
    .content{
        margin-bottom: -41rem;
    }
    
    .content h4 {
        font-size: 14px;
        margin-left: 42px;
        margin-top: 110px;
        margin-bottom: -10px;
    }
    
    .content p {
        margin-right: 1rem;
        margin-left: -60px;
        font-size: 12px;
        padding-bottom: 6.5rem;
        text-align: center;
    }
    
    h3.heading {
        font-size: 33px;
        margin-top: -20px;
    }
    
    .content a {
        width: 8.5rem;
        height: 2.5rem;
        position: relative;
        top: -7rem;
        left: -4.6rem;
        font-size: 12px;
        padding-right: 10px;
        padding-left: 14px;
        padding-bottom: 28px;
    }

    .abimg{
        width: 350px;
        height: 185px;
        bottom: 51.6rem;
        left: 3.2rem;
        padding-left: 4.5rem;
    }

    .dots{
        opacity: 0%;
    }

    .gif{
        width: 17rem;
        margin-left: 9rem;
        padding-top: 8rem;
        padding-bottom: 1.5rem;
    }
    
    .p-heading{
        font-size: 35px;
        position: relative;
        top: -8.5rem;
        right: 0.5rem;
    }
    
    .p-subheading{
       width: 67%;
       font-size: 18px;
       position: relative;
       top: -8rem;
       left: -0.5rem;
    }

    .blogs_cover{
        margin-top: 33rem;
    }

    .blogs{
        margin-top: -6.3rem;
    }
    
    .line1{
        font-size: 13px;
        margin-top: -2.5rem;
    }
}



@media(max-width:520px) {
    .main-content{
        height: 52rem;
    }

    .imgdp {
        width: 390px;
        height:225px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 175px;
    }
    
    .navbar-nav{
        margin-left: -1rem;
        margin-top: 1rem;
        text-align: center;
    }

    .name-part{
        margin-top: 10px;
        font-size: 30px ;
    }

    .icon-scroll{
        font-size: 16px;
        margin-top: -1rem;
    }

    .icons ul li{
        padding-top: 2.6px;
        margin: 6px;
        width: 34px;
        height: 34px;
        font-size: 29px;
        line-height: 26px;
    }

    .about_cover{
        padding-top: 8.5rem;
        margin-top: 1rem;
    }

    .about{
        margin: 21.5px;
    }
    
    .content{
        margin-bottom: -42.5rem;
    }
    
    .content h4 {
        font-size: 18px;
        margin-left: -48px;
        margin-top: 170px;
    }
    
    .content p {
        margin-right: 1.6rem;
        margin-left: -48px;
        font-size: 15px;
        padding-bottom: 6.7rem;
        text-align: left;
    }
    
    h3.heading {
        font-size: 33px;
        margin-top: -20px;
    }
    
    .content a {
        width: 8.5rem;
        height: 2.5rem;
        position: relative;
        top: -7rem;
        left: -13rem;
        font-size: 12px;
        padding-right: 10px;
        padding-left: 14px;
        padding-bottom: 28px;
    }

    .abimg{
        width: 400px;
        height: 220px;
        bottom: 60.5rem;
        left: 0.6rem;
        padding-left: 4.5rem;
    }

    .dots{
        opacity: 0%;
    }

    .gif{
        width: 17rem;
        margin-left: 5.5rem;
        padding-top: 9rem;
        padding-bottom: 2rem;
    }
    
    .project{
        margin-left: 1.3rem;
    }

    .p-heading{
        font-size: 35px;
        position: relative;
        top: -10rem;
        right: 0.5rem;
    }
    
    .p-subheading{
       width: 67%;
       font-size: 18px;
       position: relative;
       top: -9.2rem;
       left: -0.5rem;
    }

    .card{
        width: 22rem;
        margin-left: 2.5rem;
    }

    .card-text{
        font-size: 14px;
    }

    .card-title{
        font-size: 19px;
    }

    .experience_cover{
        position: relative;
        height: 45.7rem;
        padding-top: 6.5rem;
        margin-top: -8.2rem;
    }

    .experience{
        position: relative;
        top: -6.4rem;
        margin:19px;
    }
    
    .exp_heading{
        font-size: 34px;
        margin-top: -20px;
    }
    
    .exp_content{
        margin-top: 3rem;
        padding-left: 1rem;
        padding-bottom: 0rem;
    }
   
    .blogs_cover{
        margin-top: 28rem;
        padding-top: 9.3rem;
    }

    .blogs{
        margin-top: -7.8rem;
    }
    
    .blog_heading{
        padding-top: 2rem;
        font-family: 'poppins',sans-serif;
        font-weight: bold;
        font-size: 35px;   
    }

    .line1{
        font-size: 15px;
        margin-top: -2.5rem;
    }
}



@media(max-width:415px) {
    
    .main-content{
        height: 48rem;
    }

    .imgdp {
        width: 370px;
        height:210px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
    }

    .navbar-nav{
        margin-left: -1rem;
        margin-top: 1rem;
        text-align: center;
    }
    
        .name-part{
            margin-top: 10px;
            font-size: 26px ;
        }

        .icon-scroll{
            font-size: 13.5px;
            position: relative;
            top: 8.2rem;
        }

        .icons ul li{
            margin: 6px;
            width: 33px;
            height: 33px;
            font-size: 27px;
            line-height: 26px;
        }

        .about{
            background-image: linear-gradient(#f8f8ff,rgb(239, 244, 255));
            border-radius: 25px;
            box-shadow: 1px 1px 10px  rgb(199, 198, 198);
            margin: 18px;
            position: relative;
            top: -120px;
        }
        
        .content h4 {
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
            margin-left: -59px;
            margin-top: 150px;
            font-weight: 600;
            margin-bottom:-1rem ;
            color: rgb(0, 0, 0);
            }
        
        .content p {
            margin-left: -60px;
            font-size: 13.5px;
            padding-bottom: 6.5rem;
        }
        
        h3.heading {
            font-family: 'Poppins', sans-serif;
            font-size: 30px;
            text-align: center;
            color: rgb(0, 0, 0);
            font-weight: 800;
            letter-spacing: 1.5px;
        }
        
        .content a {
            width: 9rem;
            height: 2.5rem;
            position: relative;
            top: -6.6rem;
            left: -13.8rem;
            font-size: 13px;
            padding-right: 11px;
            padding-left: 15px;
            padding-bottom: 28px;
        }
    
        .abimg{
            width: 400px;
            height: 220px;
            position: relative;
            bottom: 59rem;
            left: -2rem;
            padding-left: 4.5rem;
        }
    
        .gif{
            width: 17rem;
            margin-left: 2.7rem;
            padding-top: 7.5rem;
            padding-bottom: 1.6rem;
        }
        
        .dots{
           opacity: 0%;
        }
        
        .project{
            position: relative;
            top: -7rem;
            background-color: rgb(255, 255, 255);
        }
        
        .p-heading{
            font-size: 35px;
            position: relative;
            top: -8.5rem;
            right: 1.5rem;
        }
        
        .p-subheading{
           width: 77%;
           font-size: 18px;
           position: relative;
           top: -8rem;
           left: -1.5rem;
        }
    
        .card{
            width: 20rem;
            margin-left: 0.55rem;
        }
        
        .card-text{
            font-size: 14.4px;
        }

        .p-more{
            margin-top: 0.2rem;
        }
    
        .experience_cover{
            position: relative;
            height: 45.7rem;
            padding-top: 7.5rem;
            margin-top: -8.2rem;
        }

        .experience{
            position: relative;
            top: -7.5rem;
            margin:17px;
        }
        
        .exp_heading{
            font-size: 32px;
            margin-top: -20px;
        }
        
        .exp_content{
            margin-top: 4rem;
            padding-left: 2rem;
            padding-bottom: 0rem;
        }
       
        .blogs{
            margin-top: -6.5rem;
        }
        
        .blog_heading{
            padding-top: 3rem;
            font-family: 'poppins',sans-serif;
            font-weight: bold;
            font-size: 35px;   
        }
        
        .blog_subheading{
            padding-top: 1.5rem;
            font-size: 16.5px;
        }
        
        .stories{
            font-size: 13px;
        }
    
        .blog_more{
            margin-top: -1.5rem;
        }
    
        .line1{
            font-size: 14px;
            margin-top: -2.5rem;
        }
    
 }

 @media(min-width:361px) and (max-width:376px) {

    .main-content{
        height: 42rem;
    }

    .navbar-nav{
        margin-left: -1rem;
        margin-top: 1rem;
        text-align: center;
    }

    .imgdp {
        width: 320px ;
        height: 185px;
        margin-top: 70px;
    }

    .name-part{
        margin-top: 10px;
        font-size: 23px !important;
    }

    .icon-scroll{
        font-size:12.5px;
        position: relative;
        top: 2rem;
    }
    
    .icons ul li{
        top: 2px;
        margin: 6px;
        width: 30px;
        height: 30px;
        font-size: 25px;
        line-height: 25px;
    }

    .about_cover{
        padding-top: 7.5rem;
        margin-top: -7rem;
    }
    
    .content h4 {
        font-size: 13.7px;
        font-family: 'Poppins', sans-serif;
        margin-left: -51px;
        margin-top: 120px;
        font-weight: 600;
        color: rgb(0, 0, 0);
    }
    
    .content p {
        margin-left: -51px;
        font-size: 11.5px;
        padding-bottom: 7.3rem;
    }
    
    h3.heading {
        font-size: 26px;
    }
    
    .content{
        margin-bottom: -41.5rem;
    }

    .content a {
        width: 7rem;
        position: relative;
        top: -7.7rem;
        left: -13.2rem;
        font-size: 10px;
        padding-right: 0px;
        padding-left: 9px;
        padding-bottom:25px ;
    }

    .abimg{
        width: 360px;
        height: 190px;
        position: relative;
        bottom: 57.5rem;
        left: -2rem;
        padding-left: 4.5rem;
    }

    .dots{
        opacity: 0%;
    }

    .gif{
        width: 14rem;
        margin-left: 3rem;
        padding-top: 6rem;
        padding-bottom: 2rem;
    }
    
    .project{
        margin-left: 1.2rem;
    }

    .p-heading{
        font-size: 30px;
        position: relative;
        top: -6.4rem;
        right: 1rem;
    }
    
    .p-subheading{
       width: 67%;
       font-size: 15px;
       position: relative;
       top: -6rem;
       left: -1rem;
    }

    .card{
        width: 17.5rem;
        margin-left: 0.8rem;
    }

    .card-title{
        font-size: 16px;
    }

    .card-text{
        font-size: 12.5px;
    }

    a.btn{
        font-size: 13px;
    }
    .p-more{
        margin-top: -0.2rem;
    }

    .exp_heading{
        font-size: 29px;
        margin-top: -21px;
    }
    
    .exp_content{
        margin-top: 3.5rem;
        padding-left: 1rem;
        padding-bottom: 0rem;
    }
   
    .blogs_cover{
        position: relative;
        padding-top: 7.3rem;
        margin-top: 30rem;
    }
   
    .blog_heading{
        padding-top: 2rem;
        font-family: 'poppins',sans-serif;
        font-weight: bold;
        font-size: 30px;   
    }
    
    .blog_subheading{
        padding-top: 0.5rem;
        font-size: 14px;
    }
    
    .line1{
        font-size: 13px;
        margin-top: -2.2rem;
    }

    .line2{
        font-size: 14px;
    }
}


@media(max-width:360px) {
    .main-content{
        height: 47rem;;
    }

    .imgdp {
      width: 300px ;
      height: 170px;
      margin-top: 60px;
    }

    .name-part{
        margin-top: 5px;
        font-size: 24px !important;
    }

    .icon-scroll{
        font-size: 12.3px;
        margin-top: -5.5rem;
    }

    .icons ul li{
        margin: 6px;
        width: 33px;
        height: 33px;
        font-size: 24px;
        line-height: 23px;
    }

    .navbar-nav{
        margin-left: -1rem;
        margin-top: 1rem;
        text-align: center;
    }

    .navbar-brand{
        font-size: 17px !important;
        font-family: 'poppins',sans-serif;
        margin-left: 20px;
        font-weight: 600;
    }

    .about_cover{
        padding-top: 7.5rem;
        margin-top: -12rem;
    }

    .about{
        background-image: linear-gradient(#f8f8ff,rgb(239, 244, 255));
        border-radius: 25px;
        box-shadow: 0px 0px 6px  rgb(199, 199, 199);
        margin: 18px;
        position: relative;
        top: -120px;
    }
    
    .content{
        margin-bottom: -13rem;
    }

    .content h4 {
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
        margin-left: -59px;
        margin-top: 160px;
        font-weight: 600;
        color: rgb(0, 0, 0);
        }
    
    .content p {
        margin-left: -59.5px;
        font-size: 13px;
        text-align: left;
        padding-bottom: 6rem;
        margin-right: 10px;
    }
    
    h3.heading {
        font-size: 28px;
        letter-spacing: 1px;
    }
    
    .content a {
        width: 8rem;
        height: 2.5rem;
        position: relative;
        top: -6.2rem;
        left: -13.7rem;
        font-size: 11.5px;
        padding-right: 10px;
        padding-left: 11.5px;
    }

    .abimg{
        width: 400px;
        height: 220px;
        position: relative;
        bottom: 58.5rem;
        left: -3.5rem;
        padding-left: 4.5rem;
        margin-bottom: -29rem;
    }

    .gif{
        width: 16rem;
        margin-left: 3rem;
        padding-top: 7.5rem;
        padding-bottom: 2rem;
    }
    
    .dots{
       opacity: 0%;
    }
    
    .project{
        position: relative;
        left: -1.3rem;
        top: -7rem;
        background-color: rgb(255, 255, 255);
    }
    
    .p-heading{
        font-size: 35px;
        position: relative;
        top: -9rem;
        right: 1rem;
    }
    
    .p-subheading{
       width: 75%;
       font-size: 18px;
       position: relative;
       top: -8.5rem;
       left: -1rem;
    }

    .card{
        width: 19rem;
        margin-left: 0.8rem;
    }

    .card-text{
        font-size: 14px;
    }

    .p-more{
        margin-top: 0.2rem;
    }

    .experience_cover{
        position: relative;
        height: 45.7rem;
        padding-top: 6.5rem;
        margin-top: -8.6rem;
    }

    .experience{
        position: relative;
        top: -6.5rem;
        margin:17px;
    }
    
    .exp_heading{
        font-size: 32px;
        margin-top: -20px;
    }
    
    .exp_content{
        margin-top: 3.5rem;
        padding-left: 1.2rem;
        padding-bottom: 0rem;
    }
   
    .blogs_cover{
        position: relative;
        height: 24rem;
        padding-top: 7.5rem;
        margin-top: 30.5rem;
    }

    .blogs{
        position: relative;
        top: 0.2rem;
    }
    
    .blog_heading{
        padding-top: 3rem;
        font-family: 'poppins',sans-serif;
        font-weight: bold;
        font-size: 35px;   
    }
    
    .blog_subheading{
        padding-top: 1.5rem;
        font-size: 16.5px;
    }
    
    .stories{
        font-size: 13px;
    }

    .blog_more{
        margin-top: -1.5rem;
    }


    .line1{
        font-size: 14px;
        margin-top: -2rem;
    }

    .line2{
        font-size: 14.5px;
    }
}



@media(max-width:320px) {

    .main-content{
        height: 42rem;
    }

    .navbar-nav{
        margin-left: -1rem;
        margin-top: 1rem;
        text-align: center;
    }

    .imgdp {
        width: 320px ;
        height: 185px;
        margin-top: 70px;
    }

    .name-part{
        margin-top: 10px;
        font-size: 23px !important;
    }

    .icon-scroll{
        font-size:12.5px;
        position: relative;
        top: 6rem;
    }
    
    .icons ul li{
        top: 2px;
        margin: 6px;
        width: 30px;
        height: 30px;
        font-size: 25px;
        line-height: 25px;
    }

    .about_cover{
        padding-top: 7.5rem;
        margin-top: -7rem;
    }
    
    .content h4 {
        font-size: 13.7px;
        font-family: 'Poppins', sans-serif;
        margin-left: -67px;
        margin-top: 120px;
        font-weight: 600;
        color: rgb(0, 0, 0);
    }
    
    .content p {
        margin-left: -64px;
        font-size: 11.5px;
        padding-bottom: 7.3rem;
    }
    
    h3.heading {
        font-size: 26px;
    }
    
    .content{
        margin-bottom: -13rem;
    }

    .content a {
        width: 7rem;
        position: relative;
        top: -7.7rem;
        left: -14rem;
        font-size: 10px;
        padding-right: 0px;
        padding-left: 9px;
        padding-bottom:25px ;
    }

    .abimg{
        width: 360px;
        height: 190px;
        position: relative;
        bottom: 57.5rem;
        left: -3.65rem;
        padding-left: 4.5rem;
    }

    .gif{
        width: 14rem;
        margin-left: 3rem;
        padding-top: 6rem;
        padding-bottom: 2rem;
    }
    
    .dots{
        opacity: 0%;
    }

    .project{
        margin-left: 0.85rem;
    }

    .p-heading{
        font-size: 30px;
        position: relative;
        top: -6.4rem;
        right: 1rem;
    }
    
    .p-subheading{
       width: 67%;
       font-size: 15px;
       position: relative;
       top: -6rem;
       left: -1rem;
    }

    .card{
        width: 17.5rem;
        margin-left: 0.8rem;
    }

    .card-title{
        font-size: 16px;
    }

    .card-text{
        font-size: 12.5px;
    }

    a.btn{
        font-size: 13px;
    }
    .p-more{
        margin-top: -0.2rem;
    }

    .exp_heading{
        font-size: 29px;
        margin-top: -21px;
    }
    
    .exp_content{
        margin-top: 3.5rem;
        padding-left: 1rem;
        padding-bottom: 0rem;
    }
   
    .blogs_cover{
        position: relative;
        padding-top: 7.3rem;
        margin-top: 32rem;
    }
   
    .blog_heading{
        padding-top: 2rem;
        font-family: 'poppins',sans-serif;
        font-weight: bold;
        font-size: 30px;   
    }
    
    .blog_subheading{
        padding-top: 0.5rem;
        font-size: 14px;
    }
    
    .line1{
        font-size: 13px;
        margin-top: -2.2rem;
    }

    .line2{
        font-size: 14px;
    }
}

@media(max-width:280px) {

    .main-content{
        height: 42rem;
    }

    .navbar-nav{
        margin-left: -1rem;
        margin-top: 1rem;
        text-align: center;
    }

    .imgdp {
        width: 280px ;
        height: 160px;
        margin-top: 70px;
    }

    .name-part{
        margin-top: 10px;
        font-size: 23px !important;
    }

    .icon-scroll{
        font-size:12.5px;
        position: relative;
        top: 7rem;
    }
    
    .icons ul li{
        top: 2px;
        margin: 6px;
        width: 30px;
        height: 30px;
        font-size: 25px;
        line-height: 25px;
    }

    .about_cover{
        padding-top: 7.5rem;
        margin-top: -7rem;
    }
    
    .content h4 {
        font-size: 13.7px;
        font-family: 'Poppins', sans-serif;
        margin-left: -67px;
        margin-top: 120px;
        font-weight: 600;
        color: rgb(0, 0, 0);
    }
    
    .content p {
        margin-left: -64px;
        font-size: 11.5px;
        padding-bottom: 7.3rem;
    }
    
    h3.heading {
        font-size: 26px;
    }
    
    .content{
        margin-bottom: -13rem;
    }

    .content a {
        width: 7rem;
        position: relative;
        top: -7.7rem;
        left: -14rem;
        font-size: 10px;
        padding-right: 0px;
        padding-left: 9px;
        padding-bottom:25px ;
    }

    .abimg{
        width: 360px;
        height: 190px;
        position: relative;
        bottom: 64.5rem;
        left: -5rem;
        padding-left: 4.5rem;
    }

    .gif{
        width: 13rem;
        margin-left: 2.5rem;
        padding-top: 6rem;
        padding-bottom: 2rem;
    }
    
    .dots{
        opacity: 0%;
    }

    .p-heading{
        font-size: 30px;
        position: relative;
        top: -5rem;
        right: 1rem;
    }
    
    .p-subheading{
       width: 75%;
       font-size: 15px;
       position: relative;
       top: -4.5rem;
       left: -1rem;
    }

    .card{
        width: 15rem;
        margin-left: 0.85rem;
    }

    .card-title{
        font-size: 16px;
    }

    .card-text{
        font-size: 12.5px;
    }

    a.btn{
        font-size: 13px;
    }
    .p-more{
        margin-top: -0.2rem;
        margin-left: 1.5rem;
    }

    .exp_heading{
        font-size: 29px;
        margin-top: -21px;
    }
    
    .exp_content{
        margin-top: 3.5rem;
        padding-left: 1rem;
        padding-bottom: 0rem;
    }
   
    .blogs_cover{
        position: relative;
        padding-top: 7.3rem;
        margin-top: 38rem;
    }
   
    .blog_heading{
        padding-top: 2rem;
        font-family: 'poppins',sans-serif;
        font-weight: bold;
        font-size: 30px;   
    }
    
    .blog_subheading{
        padding-top: 0.5rem;
        font-size: 14px;
    }
    
    .line1{
        font-size: 13.5px;
        margin-top: -3rem;
    }

    .line2{
        font-size: 13px;
    }
}